*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    display: grid;
}

header{
background-color: grey;
display: flex;
height: 5rem;
justify-content: space-between;
}
header img{
    height: 100%;
}
header nav ul{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    list-style: none;
    padding-top: 30px;
}
header a {
    color: black;
}

footer{
    background-color: grey;
    height: 6rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
}


footer aside img{
    height: 90%;
    padding-left: 35px;
    padding-right: 35px;

}

.main{
    background-color: white;
    background-size: cover;
    min-height: calc(100vh - 12rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 15px;
    height: 1fr;
}

.juju2{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    height: 1fr;
}

.juju2footer {
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    gap: 40px;
    padding-left: 3rem;
}